---
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout title="foo" description="bar">
  <a href="/">Home</a>
  <a href="/about">About</a>
  <h1 class="text-xl text-orange-500">Hello, World!</h1>
</MainLayout>
