---
import { getCollection } from "astro:content";
import { BlogCard } from "@/components/BlogCard";
import { Hero } from "@/components/Hero";
import { Link } from "@/components/Link";
import { ProjectCard } from "@/components/ProjectCard";
import MainLayout from "@/layouts/MainLayout.astro";
import { getPosts } from "@/lib/payload-cms";
import { ArrowRightIcon } from "lucide-react";

export const prerender = false;

const posts = await getPosts();
posts.sort(
  (a, b) => new Date(b.updatedAt).getTime() - new Date(a.updatedAt).getTime(),
);

const projects = await getCollection("projects");
---

<MainLayout disableWrapper>
  <Hero />

  <section class="container py-12 md:py-16 max-w-5xl">
    <h2 class="text-3xl font-bold mb-6 text-center">About Me</h2>
    <div
      class="py-6 px-4 border-y border-y-primary border-dashed md:text-justify"
    >
      <article class="prose dark:prose-invert mx-auto">
        <p>
          <strong>Passionate and innovative</strong> software engineer with a flair
          for crafting cutting-edge solutions that seamlessly enhance user experiences.
        </p>
        <p>
          Proficient in <strong>PHP</strong>, <strong>JavaScript</strong>, and
          <strong>TypeScript</strong>, I specialize in utilizing diverse
          <strong>frameworks</strong> like Laravel, React, Next.js, and NestJS to
          build robust <strong>front-end</strong> and <strong>back-end</strong>
          applications. I actively engage in website development, Android projects,
          and contribute to <strong>open-source</strong> projects.
        </p>
      </article>

      <div class="flex justify-center mt-4">
        <Link href="/about">
          Read More About Me
          <ArrowRightIcon className="ml-1 mt-1 w-4 h-4" />
        </Link>
      </div>
    </div>
  </section>

  <section class="container py-12 md:py-16">
    <h2 class="text-3xl font-bold mb-6 text-center">My Projects</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      {projects.slice(0, 3).map((project) => (
        <ProjectCard data={project.data} client:only="react" />
      ))}
    </div>
    <div class="flex justify-center mt-6">
      <Link href="/projects">
        See More Projects
        <ArrowRightIcon className="ml-1 mt-1 w-4 h-4" />
      </Link>
    </div>
  </section>

  <section class="container py-12 md:py-16">
    <h2 class="text-3xl font-bold mb-6 text-center">Blog Posts</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
      {posts.slice(0, 3).map((post) =>(
        <BlogCard data={post} />
      ))}
    </div>

    {posts.length > 3 && (
      <div class="flex justify-center mt-6">
        <Link href="/blog">
          See More Blog Posts
          <ArrowRightIcon className="ml-1 mt-1 w-4 h-4" />
        </Link>
      </div>
    )}
  </section>
</MainLayout>
