---
import { BlogCard } from "@/components/BlogCard";
import { Hero } from "@/components/Hero";
import { Link } from "@/components/Link";
import { ProjectCard } from "@/components/ProjectCard";
import MainLayout from "@/layouts/MainLayout.astro";
import { getPosts, getProjects } from "@/lib/payload-cms";
import { ArrowRightIcon } from "lucide-react";

export const prerender = false;

const posts = await getPosts({
  sort: { updatedAt: "desc" },
});

const projects = await getProjects({
  sort: { updatedAt: "desc" },
});
---

<MainLayout disableWrapper>
  <Hero />

  <section class="container py-24 md:py-32 lg:py-40 max-w-5xl">
    <h2 class=" font-bold text-center sr-only">About me</h2>
    <div
      class="py-6 px-4 border-y border-y-primary border-dashed md:text-justify"
    >
      <article class="prose dark:prose-invert mx-auto">
        <p>
          <strong>Passionate and innovative</strong> software engineer with a flair
          for crafting cutting-edge solutions that seamlessly enhance user experiences.
        </p>
        <p>
          Proficient in <strong>PHP</strong>, <strong>JavaScript</strong>, and
          <strong>TypeScript</strong>, I specialize in utilizing diverse
          <strong>frameworks</strong> like Laravel, React, Next.js, and NestJS to
          build robust <strong>front-end</strong> and <strong>back-end</strong>
          applications. I actively engage in website development, Android projects,
          and contribute to <strong>open-source</strong> projects.
        </p>
      </article>

      <div class="flex justify-center mt-4">
        <Link href="/about">
          Read more about me
          <ArrowRightIcon className="ml-1 mt-1 w-4 h-4" />
        </Link>
      </div>
    </div>
  </section>

  <section class="container py-16 lg:py-24">
    <h2 class="text-3xl font-bold mb-10 text-center">My projects</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      {projects.slice(0, 4).map((project) => (
        <ProjectCard data={project} />
      ))}
    </div>
    <div class="flex justify-center mt-6">
      <Link href="/projects">
        See more projects
        <ArrowRightIcon className="ml-1 mt-1 w-4 h-4" />
      </Link>
    </div>
  </section>

  <section class="container py-16 lg:py-24">
    <h2 class="text-3xl font-bold mb-10 text-center">Blog posts</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      {posts.slice(0, 3).map((post) =>(
        <BlogCard data={post} client:visible />
      ))}
    </div>

    {posts.length > 3 && (
      <div class="flex justify-center mt-6">
        <Link href="/blog">
          Read another posts
          <ArrowRightIcon className="ml-1 mt-1 w-4 h-4" />
        </Link>
      </div>
    )}
  </section>
</MainLayout>
