---
import { Hero } from "@/components/Hero";
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout
  title="fityannugroho | Software Engineer"
  description="I'm a software engineer from Indonesia. I love coding and building software that make people's lives easier. Most of the time was working with PHP, JavaScript, and TypeScript, using various frameworks to build front-end and back-end applications such as Laravel, React, Next.js, and NestJS. I'm interest with website, android, and open source project 🚀"
>
  <Hero />

  <div class="container container-wrapper">
    <h2 class="text-2xl font-bold mb-4 text-center">About Me</h2>
    <p class="break-normal">
      Passionate and innovative software developer with a flair for crafting
      cutting-edge solutions that seamlessly enhance user experiences.
      Proficient in PHP, JavaScript, and TypeScript, I specialize in utilizing
      diverse frameworks like Laravel, React, Next.js, and NestJS to architect
      robust front-end and back-end applications. My fascination extends beyond
      conventional realms, as I actively engage with website development,
      Android projects, and contribute to open source initiatives.
    </p>
  </div>
</MainLayout>
