---
import { Link } from "@/components/Link";
import { ProjectCard } from "@/components/ProjectCard";
import MainLayout from "@/layouts/MainLayout.astro";
import { getProjects } from "@/lib/payload-cms";
import { ExternalLinkIcon } from "lucide-react";

export const prerender = false;

const projects = await getProjects();
---

<MainLayout title="My Projects | Fityandhiya Islam Nugroho">
  <h1 class="text-3xl md:text-4xl font-bold text-center mb-10 lg:mb-14">My projects</h1>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    {projects.map((project) => (
      <ProjectCard data={project} />
    ))}
  </div>

  <p class="text-center mt-8">
    See all projects on my{" "}
    <Link
      href="https://github.com/fityannugroho?tab=repositories"
      disableButtonStyle
      className="inline-flex items-center justify-center"
    >
      GitHub
      <ExternalLinkIcon className="inline-block w-4 h-4 ml-1" />
    </Link>
  </p>
</MainLayout>
