---
import { Link } from "@/components/Link";
import { ProjectCard } from "@/components/ProjectCard";
import projects from "@/data/projects";
import MainLayout from "@/layouts/MainLayout.astro";
import { ExternalLinkIcon } from "lucide-react";
---

<MainLayout title="My Projects | Fityandhiya Islam Nugroho">
  <h1 class="text-3xl md:text-4xl font-bold text-center mb-8">My Projects</h1>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    {projects.map((project) => (
      <ProjectCard data={project} client:only="react" />
    ))}
  </div>

  <p class="text-center mt-8">
    See all of my projects on{" "}
    <Link
      href="https://github.com/fityannugroho?tab=repositories"
      disableButtonStyle
      className="inline-flex items-center justify-center"
    >
      my GitHub
      <ExternalLinkIcon className="inline-block w-4 h-4 ml-1" />
    </Link>
  </p>
</MainLayout>
