---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="Resume | Fityandhiya Islam Nugroho">
  <meta
    http-equiv="refresh"
    content="0; url=https://drive.google.com/file/d/1DqHq19zPIi5zpcg6WQ48s7d3_bqceBA6/view?usp=sharing"
  />
</BaseLayout>

<!-- Redirect Script -->
<script>
  window.location.replace(
    "https://drive.google.com/file/d/1DqHq19zPIi5zpcg6WQ48s7d3_bqceBA6/view?usp=sharing",
  );
</script>

<noscript>
  <p>
    If you are not redirected automatically,
    <a href="https://drive.google.com/file/d/1DqHq19zPIi5zpcg6WQ48s7d3_bqceBA6/view?usp=sharing"
      >click here</a
    >.
  </p>
</noscript>
