---
import { Link } from "./Link";
---

<footer class="container container-wrapper p-4 border-t dark:border-border/40">
  <div
    class="w-full flex flex-col md:flex-row items-center justify-between gap-2"
  >
    <span class="text-xs text-muted-foreground">
      Copyright &copy; 2024 - @fityannugroho
    </span>
    <span class="text-xs text-muted-foreground">
      Built using <Link
        href="https://astro.build"
        target="_blank"
        rel="noopener noreferrer"
        disableButtonStyle
      >
        Astro
      </Link> and
      <Link
        href="https://ui.shadcn.com"
        target="_blank"
        rel="noopener noreferrer"
        disableButtonStyle
      >
        shadcn/ui
      </Link>
    </span>
  </div>
</footer>
