.navbar {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;

  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 60px;
  padding: 1rem 2rem;
  transition: all 0.3s ease;
  background-color: var(--color-2);
}

.section {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.brand {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: var(--color-4);
}

.brand:hover {
  font-weight: bolder;
}

.brand-name {
  display: none;
}

.toggle {
  display: block;
}

.toggle > span {
  display: block;
  width: 24px;
  height: 3px;
  background-color: var(--color-4);
  margin: 4px;
  transition: all 0.3s ease;
}

.toggle.cross .line1 {
  transform: rotate(-45deg) translate(-4px, 6px);
}

.toggle.cross .line2 {
  opacity: 0;
}

.toggle.cross .line3 {
  transform: rotate(45deg) translate(-4px, -6px);
}

.dropdown {
  padding: 0.25em 0.5em;
  margin: 0;
  font-family: inherit;
  background-color: var(--color-2);
  color: var(--color-4);
  border: 1px solid var(--color-4);
  outline: none;
  border-radius: 0.25em;
}

.dropdown:hover {
  cursor: pointer;
}

.dropdown:hover, .dropdown:focus {
  outline: 1px solid var(--color-4);
}

/* ----------- Tablet ----------- */
@media screen and (min-width: 768px) {
  .brand-name {
    display: block;
  }

  .toggle {
    display: none;
  }
}
