---
import Head from "@/components/Head.astro";
import "@/styles/globals.css";
import type { MarkdownLayoutProps } from "astro";

type BaseLayoutProps = {
  title: string;
  description: string;
};

export type Props = MarkdownLayoutProps<BaseLayoutProps> & BaseLayoutProps;

const { title, description } = Astro.props.frontmatter || Astro.props;
const ogImageUrl = new URL("/og.jpg", Astro.url);
---

<script is:inline>
  const getThemePreference = () => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    return window.matchMedia("(prefers-color-scheme: dark)").matches
      ? "dark"
      : "light";
  };
  const isDark = getThemePreference() === "dark";
  document.documentElement.classList[isDark ? "add" : "remove"]("dark");

  if (typeof localStorage !== "undefined") {
    const observer = new MutationObserver(() => {
      localStorage.setItem(
        "theme",
        document.documentElement.classList.contains("dark") ? "dark" : "light",
      );
    });

    observer.observe(document.documentElement, {
      attributes: true,
      attributeFilter: ["class"],
    });
  }
</script>

<html lang="en">
  <Head {title} {description} ogImage={ogImageUrl} />
  <body>
    <slot />
  </body>
</html>
