---
import { Navbar } from "@/components/Navbar";
import type { Props as BaseLayoutProps } from "./BaseLayout.astro";
import BaseLayout from "./BaseLayout.astro";
import Footer from "@/components/Footer.astro";

export type Props = BaseLayoutProps & {
  /**
   * The class name for the main element.
   */
  className?: string;
  /**
   * Disables the default container wrapper.
   */
  disableWrapper?: boolean;
};

const { className, disableWrapper, ...props } = Astro.props;

const menus = [
  { title: "About", href: "/about" },
  { title: "Projects", href: "/projects" },
  { title: "Blog", href: "/blog" },
];
---

<BaseLayout {...props}>
  <Navbar client:idle items={menus} current={Astro.url.pathname} />
  <main
    class:list={[
      !disableWrapper && "container container-wrapper py-8 md:py-16",
      "min-h-[83vh]",
      className,
    ]}
  >
    <slot />
  </main>
  <Footer />
</BaseLayout>
