---
import Navbar from "@/components/Navbar.astro";
import type { Props as BaseLayoutProps } from "./BaseLayout.astro";
import BaseLayout from "./BaseLayout.astro";
import Footer from "@/components/Footer.astro";

export type Props = BaseLayoutProps & {
  /**
   * The class name for the main element.
   */
  mainClass?: string;
};

const { mainClass, ...props } = Astro.props;
---

<BaseLayout {...props}>
  <Navbar />
  <main class={mainClass}>
    <slot />
  </main>
  <Footer />
</BaseLayout>
