---
import Navbar from "@/components/Navbar.astro";
import type { Props as BaseLayoutProps } from "./BaseLayout.astro";
import BaseLayout from "./BaseLayout.astro";

type Props = BaseLayoutProps;

const props = Astro.props;
---

<BaseLayout {...props}>
  <Navbar />
  <main>
    <slot />
  </main>
</BaseLayout>
