@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');

:root {
  --color-1: #181d52;
  --color-2: #030518;
  --color-3: #5253a0;
  --color-4: #9b97c9;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}

p {
  margin-top: 0;
}

.header {
  display: inline;
}

.navbar {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 2rem;
  transition: all 0.3s ease;
  background-color: var(--color-2);
}

.navbar.transparent {
  background-color: transparent;
}

.navbar__logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.navbar__logo a {
  text-decoration: none;
  color: var(--color-4);
}

.navbar__menus {
  display: flex;
  gap: 0.75rem;

  margin: 0;
  padding: 0;
  list-style: none;
  transition: transform 0.5s ease;
}

.navbar__menus__menu {
  padding: 0.25rem 0.75rem;
}

.navbar__menus__menu a {
  text-decoration: none;
  color: var(--color-4);
}

.navbar__logo a:hover,
.navbar__menus__menu a:hover {
  font-weight: bolder;
}

.navbar__menus__menu__toggle {
  display: none;
}

.navbar__menus__menu__toggle > span {
  display: block;
  width: 24px;
  height: 3px;
  background-color: var(--color-4);
  margin: 5px;
  transition: all 0.3s ease;
}

.navbar__menus__menu__toggle.cross .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.navbar__menus__menu__toggle.cross .line2 {
  opacity: 0;
}

.navbar__menus__menu__toggle.cross .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

main {
  margin-top: -60px;
}

.parallax {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;

  background-image: url('../assets/f-banner-1280x720.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  opacity: 96%;
}

.parallax-inner {
  margin: 2rem;
  padding: 3rem 2rem;
}

.parallax-inner h1,
.parallax-inner h2 {
  color: white;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.parallax-inner h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.parallax-black {
  background-image: url('../assets/f-banner-black-1280x720.png');
}

.parallax-black > .parallax-inner {
  max-width: 48rem;
  margin-top: 60px;
  color: white;
  background-color: var(--color-2);
  opacity: 90%;
  text-align: center;
}

.parallax-black > .parallax-inner > h2 {
  width: fit-content;
  margin: 0 auto 1.5rem auto;
}

.parallax-black > .parallax-inner > h2::after {
  content: ' ';
  display: block;
  height: 3px;
  background-color: white;
  margin-top: 4px;
  border-radius: 4px;
}

.container {
  padding: 2rem;
}

.container.dark {
  background-color: var(--color-1);
}

.container > h2 {
  width: fit-content;
  color: var(--color-3);
  margin: 0 auto;
}

.container.dark > h2 {
  color: var(--color-4);
}

.container > h2::after {
  content: ' ';
  display: block;
  height: 3px;
  background-color: var(--color-3);
  margin-top: 4px;
  border-radius: 4px;
}

.container.dark > h2::after {
  background-color: var(--color-4);
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(10rem, 1fr));
  column-gap: 1rem;
  row-gap: 1rem;
  margin-top: 2rem;
}

.flex-container {
  display: flex;
  gap: 1.5rem;

  margin-top: 2rem;
}

.card {
  padding: 1.25rem;
  border-radius: 1rem;
  border: 2px solid var(--color-3);
  text-align: center;
}

.container.dark .card {
  border: 2px solid var(--color-4);
}

.card > h3 {
  margin: 0 auto 0 auto;
  width: fit-content;
  margin-bottom: 1rem;
  color: var(--color-3);
}

.container.dark .card > h3 {
  color: var(--color-4);
}

.box {
  box-shadow: 0 0 0 3px var(--color-4);
  padding: 1.5rem 1.75rem;
}

.box > h3 {
  margin-top: 0;
  color: var(--color-3);
}

.box-footer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.box-footer > * {
  flex: 1 1 auto;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  padding: 0.5rem 1rem;
  background-color: transparent;
  border: 2px solid transparent;
  color: inherit;
  border-radius: 0.25rem;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--color-3);
  border: 2px solid var(--color-3);
  color: white;
}

.btn-primary:hover {
  background-color: var(--color-1);
}

.btn-primary-outline {
  background-color: transparent;
  border: 2px solid var(--color-3);
  color: var(--color-3);
}

.btn-primary-outline:hover {
  background-color: var(--color-3);
  color: white;
}

.btn-light-outline {
  background-color: transparent;
  border: 2px solid var(--color-4);
  color: var(--color-4);
}

.btn-light-outline:hover {
  background-color: var(--color-4);
  color: white;
}

.btn-light-outline:focus {
  box-shadow: 0 0 0.25rem white;
}

.btn.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

#contact .flex-container {
  flex-direction: column;
  align-items: center;

  color: var(--color-4);
}

.box-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box-profile > h3 {
  margin-bottom: 0.5rem;
}

.rounded-picture {
  border-radius: 50%;
  aspect-ratio: 1/1;
}

.box-contact {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;

  margin-top: 0.5rem;
}

.footer {
  padding: 1.5rem 2rem;
  color: var(--color-4);
  background-color: var(--color-2);
}

.footer article {
  text-align: center;
}

/* ----------- Tablet ----------- */
@media screen and (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, minmax(10rem, 1fr));
  }
}

@media screen and (max-width: 840px) {
  .flex-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .box {
    flex-basis: 100%;
  }

  .card {
    flex-basis: 33%;
  }
}

/* ----------- Mobile ----------- */
@media screen and (max-width: 640px) {
  body {
    overflow-x: hidden;
  }

  .navbar__menus__menu__toggle {
    display: block;
  }

  .navbar__menus {
    position: absolute;
    right: 0;
    top: 60px;
    height: calc(100vh - 60px);
    width: 50%;
    background-color: var(--color-2);
    opacity: 96%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }

  .navbar__menus.active {
    transform: translateX(0);
  }

  .navbar__menus__menu {
    display: block;
  }
}

@media screen and (max-width: 414px) {
  .card {
    flex-basis: 100%;
  }
}

/* ----------- Desktop ----------- */
@media screen and (min-width: 900px) {
  .grid {
    grid-template-columns: repeat(3, minmax(10rem, 1fr));
  }
}

@media screen and (min-width: 1200px) {
  .grid {
    grid-template-columns: repeat(4, minmax(10rem, 1fr));
  }
}
